h1 {
  font-weight: bolder;
  color: white;
  text-align: center;
  background-color: lightslategray;
  padding: 10px;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 5px;
}

ul li {
  list-style-type: none;
  border: 1px solid #ddd;
  margin-top: -1px;
  background-color: #f6f6f6;
  padding: 12px;
}
input[type="text"] {
  margin-top: 5px;
  margin-left: 5px;
  padding: 6px;
  font-size: 15px;
  border: 1px solid grey;
  text-align: center;
  object-position: center;
  width: 20%;
  background: #f1f1f1;
}
#newItem {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

button {
  border-radius: 5px;
  margin-top: 5px;
  width: 40px;
  padding: 5px;
  background: blue;
  color: white;
  font-size: 17px;
  border: 2px solid #2196f3;
  cursor: pointer;
  clear: right;
}

div.container4 {
  height: 10em;
  position: relative;
}

#save {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 62%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.mycoolbtns {
  margin: 0;
  position: absolute;
  top: 40%;
  left: 42%;
}
#discover {
  font-size: 40px;
  padding: 18px 28px;
  line-height: 100px;
  width: 200px;
  border-radius: 8px;
}
#widget {
  font-family: Arial, Helvetica, sans-serif;
  float: right;
  width: 500px;
  height: 200px;
  max-width: 80%;
  background-color: navy;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  color: black;
}
